extends layout

block content
    h1 #{title}
    br
    each product in products
        
        div.well
            div.row 
                div.col-md-2    
                    img(src='/image/'+product.image)
                div.col-md-4
                    h5 #{product.name}
                div.col-md-1
                    p Amount: #{product.amount}
                div.col-md-3
                    p Price: $#{product.price}
                div.col-md-1
                    a(class='btn btn-danger', href='/chart/remove/'+product._id) Remove

    div.well
        div.row
            div.col-md-7
                p add paypall, mastercard, or visa (payment types images)
            div.col-md-3
                p Total Price: $#{totalPrice}
            div.col-md-2
                
                form(action="/chart/buy" method="post")
                    input(class="btn btn-primary" type="submit" value="submit")